.app {
}

.input-container {
    display:flex;
    flex-flow: row;
}

.forms-container {
    display: flex;
    flex-flow: row;
}

.form-container {
   padding: 15px; 
}

button {
    margin: 20px;
}

.person-list-container {
    display: flex;
    flex-flow: row;
}

.members-container {
    margin: 15px;
}


